.leaflet-popup-content-wrapper {
  width: 16em;
}

a.popup-title {
    font-size: 1em;
    font-weight: 700;
    color: inherit;
}

.popup-categories {
  font-style: italic;
}

.popup-thumbnail {
  margin-top: 8px;
  width: 12em;
  height: 12em;
}

.popup-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
  max-height: 250px;
}

.popup-ratings,
.popup-price {
  margin: 5px 0;
}

.popup-price {
  float: right;
}