.search-bar {
  margin-bottom: 40px;
  position: relative;
}

.search-bar-input {
  font-family: inherit;
  font-size: 18px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #DDD;
  height: 35px;
  transition: 0.3s ease-out;
}

.search-bar-input:focus {
  outline: none;
  border-bottom-color: #000;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  list-style: none;
  margin-top: 0;
  max-height: 200px;
  overflow: auto;
  padding-left: 0;
  width: calc(100% + 1rem);
  background-color: white;
  border-left: 1px solid #DDD;
  box-shadow: 0 1px 1px #DDD;
}

.suggestions li {
  padding: 0.5rem;
  padding-left: 0.2rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #999;
  cursor: pointer;
}

.suggestion-active:focus {
  border: 1px red;
}
  
.search-sub-border {
  border-bottom: 1px solid #DDD;
  box-shadow: 0 1px 1px #DDD;
  position: absolute;
  top: 100%;
  bottom: 0;
  right: 0;
  left: 0;
}

.searchresults-list {
  list-style-type:none;
  padding:0;
  margin:0;
  z-index: -1;
  position: absolute;
  top: 50px;
}

.no-suggestion {
  background-color: #fff;
}