.sidebar {
    width: 35%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    position: relative;
    padding: 25px;
    padding-top: 10px;
}

.sidebar-title {
  font-size: 20px;
  font-weight: 700;
}